<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB Highlights</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>How would you like to view highlights?</h1>
    <h2>Select a team to view the day's highlights</h2>
    <ul>
        <li><a href="{{ url_for('yahoo_list',date=date) }}">By Fantasy Team</a></li>
        <li><a href="{{ url_for('mlb_list',date=date) }}">By MLB Team</a></li>
        <li><a href="{{ url_for('search_players',date=date) }}">By Player</a></li>
        <li><a href="{{ url_for('all_players_page',date=date) }}">All Highlights</a></li>
        
    </ul>
</body>
</html>
