* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2vw; /* Use viewport width for padding */
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw; /* Use viewport width for gap */
    font-size: 2vw; /* Use viewport width for font size */
    text-align: center;
    justify-content: flex-start;
    margin-top: 10vh;
}
p {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
/* Default link style */
a {
    color: whitesmoke; /* Default color for links */
    text-decoration: underline; /* Remove underline */
}

/* Visited link style */
a:visited {
    color: gray; /* Color for visited links */
}

/* Style for buttons */
button {
    font-size: 1.5vw; /* Use viewport width for font size */
    padding: 1vw 2vw; /* Use viewport width for padding */
    border-radius: 5px; /* Adjust the border radius as needed */
    margin-right: 2vw; /* Use viewport width for margin */
}

input {
    font-size: 1.5vw; /* Use viewport width for font size */
    padding: 1vw; /* Use viewport width for padding */
    border-radius: 5px; /* Adjust the border radius as needed */
}

/* Additional styles for button container */
.button-container {
    display: flex;
}

/* Adjustments for columns */
.column {
    float: left;
    width: 50%;
    padding: 0 20px; /* Add padding to the columns for spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

ul {
    list-style-type: none; /* Remove default bullet points */
}

h3 {
    margin-top: 20px; /* Add margin above each heading */
}

/* Clear floats */
.row::after {
    content: "";
    clear: both;
    display: table;
}
