* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2vw; /* Use viewport width for padding */
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw; /* Use viewport width for gap */
    font-size: 2vw; /* Use viewport width for font size */
}

/* Default link style */
a {
    color: whitesmoke; /* Default color for links */
    text-decoration: underline; /* Remove underline */
}

/* Visited link style */
a:visited {
    color: gray; /* Color for visited links */
}

/* Style for buttons */
button {
    font-size: 1.5vw; /* Use viewport width for font size */
    padding: 1vw 2vw; /* Use viewport width for padding */
    border-radius: 5px; /* Adjust the border radius as needed */
    margin-right: 2vw; /* Use viewport width for margin */
}

input {
    font-size: 1.5vw; /* Use viewport width for font size */
    padding: 1vw; /* Use viewport width for padding */
    border-radius: 5px; /* Adjust the border radius as needed */
}

/* Additional styles for button container */
.button-container {
    display: flex;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    width: 100%; /* Ensure videos take up the full width of the container */
    margin-bottom: 2vw; /* Add some spacing between videos */
}

video {
    width: 100%; /* Make the video fill the entire width of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
